:root {
    --accent:   #C8A96E;  
    --main-bg:  #13110E;  
    --alt-bg:   #1C1A14;  
    --text:     #E8DFC8;  
}
a {
    text-decoration: none;
    color: var(--alt-bg);
}
body{
    background-color: var(--alt-bg);
    color: var(--text);
}
.bg_card {
    background-color: var(--main-bg);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 3rem;
    margin: 1rem 0rem;
}
h1 {
    border-bottom:  1px solid var(--accent);
    margin: 0rem 1rem;
    padding-left: 1rem;
}

.navi_links {
    display: flex;
    overflow-y: auto;
}

.link {
    align-self: flex-start;
    background-color: var(--accent);
    min-width: fit-content;
    padding: 3px 5px;
    margin: 1rem;
    border-radius: 25px;

}

.intro {
    padding-left: 1rem;
}

.post_cards {
    display: flex;
    
}

.post_card{
    border: 2px solid var(--accent);
    border-radius: 5px;
    align-self: flex-start;
    min-width: 150px;  /* Minimum width of 100 pixels */
    max-width: 325px;  /* Maximum width of 300 pixels */
    min-height: 350px;
    display: flex;
    flex-direction: column;

}

.post_intro {
    margin: 1rem .5rem;
}

.card_title {
    border-bottom: 1px solid var(--accent);
    flex-grow: 1;
    padding: .3rem;
    margin: 0px 5px;
    font-size: 1.5rem;
}
.card_content {
    margin: 2px 10px;
    flex-grow: 2;
}

.card_rm {
    min-height: fit-content;
    max-height: fit-content;
    background-color: var(--accent);
    text-align: end;
    flex-grow: 1;

}